
.DS_Store
._.DS_Store
*.d
*.o
jni/*.so
obj/*
*.a
*.pod
*.swp
bin/
gen/
jni/ffmpeg/config.fate
jni/ffmpeg/config.h
jni/ffmpeg/config.log
jni/ffmpeg/config.mak
jni/ffmpeg/ffmpeg
jni/ffmpeg/ffmpeg_g
jni/ffmpeg/ffprobe
jni/ffmpeg/ffprobe_g
jni/ffmpeg/ffserver
jni/ffmpeg/ffserver_g
jni/ffmpeg/libavcodec/*.o
jni/ffmpeg/libavfilter/*.o
jni/ffmpeg/libavformat/*.o
jni/ffmpeg/libswscale/*.o
jni/ffmpeg/doc/*
.classpath
jni/set_env.sh
settings/*
/bin/
/bin/
.idea
.gradle
*.iml
build
local.properties
*.hprof
.directory
*.apk
manifest-merger-*
gradle.properties
.gitmodules
make_release.sh
build.gradle_for_cli
crash_clean.sh
open_gitk.sh



