<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="winway.mdr.telecomofchina.activity"
    android:versionCode="2"
    android:versionName="1.2">

    <uses-sdk android:minSdkVersion="4" />
    <!-- 应用程序所需要的权限 -->
    <!-- 读取联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 查看当前网络的状态 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 发短信的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 应用程序活动的相关配置(Activity) -->
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <!-- 单元测试 -->
        <uses-library android:name="android.test.runner" />
        <!-- 启动界面 -->
        <activity
            android:name=".FirstEntryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FunctionIntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!--  -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 主界面 -->
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 非急勿扰界面 -->
        <activity
            android:name=".FJWRActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 定时设置界面 -->
        <activity
            android:name=".TimeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 定时设置界面(详细) -->
        <activity
            android:name=".TimeSettingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 时间设置自定义对话框 -->
        <activity
            android:name=".BeginEndSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <!-- 黑白名单列表界面 -->
        <activity
            android:name=".BlackWhiteListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 修改密码 -->
        <activity
            android:name=".EditPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 设置配置界面 -->
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 登录自定义对话框 -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 登录自定义对话框 -->
        <activity
            android:name=".AddBlackWhiteActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 快捷设置 -->
        <activity
            android:name=".QuickSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".PhoneListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 设置的详细信息 -->
        <activity
            android:name=".ShowDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 业务设置 -->
        <activity
            android:name=".YeWuActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 显示当前的状态 -->
        <activity
            android:name=".ThisCurrentStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".FangHuSiNiActivity"  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>